.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  color: #fff;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
  color: #fff;
}

/* Other styles remain the same */

.head {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;
  margin-right: 20%;
  margin-top: 10%;
}

/* Other styles remain the same */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  max-width: var(--max-width);
  width: 80%;
  z-index: 2;
}

.create {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  max-width: var(--max-width);
  width: 80%;
  z-index: 2;
}

.voteTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
  color: #fff;
}

